<!doctype html>
<head>
	<title>catstory - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {% block head %}
        <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
        <script type="text/javascript">
          // Enable pusher logging - don't include this in production
          Pusher.log = function(message) {
            if (window.console && window.console.log) {
              window.console.log(message);
            }
          };

          var pusher = new Pusher('f0690b5e328eda453c5b');
        </script>
    {% endblock %}
</head>
<body>
    {% block header %}
        <header>
            <h1>Catstory <span>{% block headerTitle %}{% endblock %}</span></h1>
        </header>

    {% endblock %}
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
