{% extends "base.html" %}
	{% block title %}game{% endblock %}
	{% block headerTitle %}round <span id="currentRound"></span> of <span id="totalRounds"></span>{% endblock %}
	{% block head %}
		{{ super() }}
		<script type="text/javascript">

			var inResponseTo = null;
			var timer = null;
			var timeLeft = 30;
			var timeOut = null;

			setUpTimer = function(type) {
					timeLeft = 30
					$("#timer").html(timeLeft);
					$("#timer").fadeIn(100);
					if (timer != null) {
						clearInterval(timer);
					}
					timer = setInterval(function() {
						$('#timer').html(timeLeft--);
					}, 1000);
					timeOut = setTimeout(function() {
						if (type == "text") {
							$('#text-entry-form').trigger('submit');
						} else {
							$('#submit-pic-entry').trigger('click');
						}
					}, 30000);
			}

			updateRound = function() {
				$.post('/getData', {clientId: {{session.clientId}}, gameId: {{session.gameId}} }, function(data) {
					data = JSON.parse(data);
					console.log(data);
					$("#loading").fadeOut(100);
					if(data.type == "text") {
						$("#picture-entry").fadeOut(100);
						if(data.content != undefined) {
							var pictures = JSON.parse(data.content);
							for(var i = 0; i < pictures.length; i++) {
								$("ul#prev-images").append('<li class="image"><img src="' + pictures[i] + '" /></li>');
							}
						}
						$("#text-entry-form").show(0);
						$("#text-entry").fadeIn(100);
					} else if (data.type == 'pic') {
						$("#text-entry").fadeOut(100);
						$("#prev-text-entry").html(data.content);
						$("#picture-entry-form").show(0);
						$("#picture-entry").fadeIn(100)
					}

					setUpTimer(data.type);

					if(data.inResponseTo != undefined) {
						inResponseTo = data.inResponseTo;
					}
					if(data.roundNum != undefined) {
						$("#currentRound").html(data.roundNum);
					}
					if(data.totalRounds != undefined) {
						$("#totalRounds").html(data.totalRounds);
					} 
				});
			}
			var channel = pusher.subscribe('game{{session.gameId}}');
			channel.bind('newRound', function() {
				updateRound();
			});
			channel.bind('endGame', function() {
				window.location = "/final"
			});
			$(document).ready(function() {
				updateRound();	
				$("#text-entry-form").submit(function() {
					clearTimeout(timeOut);
					$("#timer").fadeOut(100);
					$(this).slideUp(100);
					textEntry = $(this).find('input[name=textEntry]').val();
					$.post('/sendData', {
						clientId: {{session.clientId}},
						gameId: {{session.gameId}},
						content: textEntry,
						inResponseTo: inResponseTo
					});
					return false;
				})
			});
		</script>
	{% endblock %}
	{% block headerspace %}
		<div id="timer"></div>
	{% endblock %}
	{% block content %}
		<div id="loading">
			<p>Loading...</p>
		</div>
		<div id="text-entry" style="display: none">
			<ul id="prev-images"></ul>
			<p>Think of a sentence. Any sentence.</p>
			<form id="text-entry-form">
				<input type="text" name="textEntry" placeholder="Type a sentence" />
				<button>Send!</button>
			</form>
		</div>
		<div id="picture-entry" style="display: none">
			{% include 'includes/picentry.html' with context %}
		</div>
		

	{% endblock %}

