{% extends "base.html" %}
	{% block title %}starting soon{% endblock %}
	{% block headerTitle %}starting a game{% endblock %}
	{% block head %}
		{{ super() }}
		<script type="text/javascript">
		var channel = pusher.subscribe('game{{session.gameId}}');
		channel.bind('playerJoin', function(data) {
			addPlayerToList(data.newPlayer.name);
		});
		$(document).ready(function(){
			$.post('/getPlayersForGame/{{session.gameId}}', function(players) {
				players = JSON.parse(players);
				for(var i = 0; i < players.length; i++) {
					addPlayerToList(players[i].name);
				}
			});
		})
	  	</script>
	{% endblock %}
	{% block content %}
		<p>Session id: {{session.gameId}}</p>
		<p>Waiting for players...</p>
		{% include 'includes/userlist.html' %}
		<a href="/confirmStart"><button id="startGame">Start game</button></a>
	{% endblock %}