{% extends "base.html" %}
	{% block title %}starting soon{% endblock %}
	{% block headerTitle %}starting a game{% endblock %}
	{% block head %}
		{{ super() }}
		<script type="text/javascript">
		var channel = pusher.subscribe('test_channel');
		channel.bind('game{{gameId}}', function(data) {
			$("#joined_user_list").append('<li>' + data.newPlayer.name + '</li>');
		});
	  	</script>
	{% endblock %}
	{% block content %}
		<p>Waiting for players...</p>
		<ul id="joined_user_list">
			<li>Your name</li>
		</ul>
		<button id="startGame">Start game</button>	
	{% endblock %}